html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    background-color: #000099;
    padding: 20px 50px;
    margin-bottom: 20px;
}

.navTop{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: #e6e6ff;
    padding:10px 20px;
    border-radius: 5px;
}
.searchInput{
    border: none;
    background-color: #e6e6ff ;
}
.searchIcon{
    padding-left:10px;
}
.searchInput::placeholder{
    color: rgb(106, 106, 190);
    font-size: 15px;
} 
.limitedOffer{
    font-size: 20px;
    color: lightblue;
    border-bottom: 2px solid lightblue;
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 50px;
    color: #80d4ff;
    cursor: pointer;
}
.slider{
    background-image: url("https://wallpaperaccess.com/full/1761712.jpg");
    clip-path: polygon(0 0, 78% 0, 100% 100%, 0 100%);
    overflow: hidden;
}
.sliderwrapper{
    margin-top: 20px;
    display:flex;
    width: 500vw;
    transition:1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display:flex;
    justify-content: center;
    position: relative;
}
.sliderImg{
    z-index:1;
    margin-left:-100px;
}
.slideBg{
    position: absolute;   
    margin-top: 30px;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    opacity: 70%;  
}
.sliderTitle{
    position: absolute;
    color: #4c99cc;
    font-size: 70px;
    top: 20%;
    right:22%;
    text-align: justify;
    z-index:1;
}
.sliderPrice{
    position: absolute;
    color: #ffffff;
    font-size: 150px;
    top: 5%;
    left:2%;
    text-align: justify;
    z-index: 1;
}
.buyButton{
    position: absolute;
    color: #00cec9;
    font-size: 60px;
    bottom: 30%;
    left:10%;
    text-align: center;
    border: 5px solid rgb(71, 73, 233);
    z-index: 1;
    padding: 10px;
    background-color: rgb(12, 26, 94);
    cursor: pointer;
    border-radius: 20px;
}
.buyButton:hover{
    background-color: black;
    color: white;
}
.sliderItem:nth-child(1) .slideBg{
    background-color: rgb(220, 233, 184);
}
.sliderItem:nth-child(2) .slideBg{
    background-color: rgb(245, 206, 223);
}
.sliderItem:nth-child(3) .slideBg{
    background-color: rgb(220, 233, 184);
}
.sliderItem:nth-child(4) .slideBg{
    background-color: rgb(245, 206, 223);
}
.sliderItem:nth-child(5) .slideBg{
    background-color: rgb(220, 233, 184);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.featureIcon{
    width: 50px;
    height: 50px;
}
.featureTitle{
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}
.featureDesc{
    color: gray;
    width:50%;
    height:100%;
}
.product{
    height: 100vh;
    background-image: linear-gradient(to bottom right,#aff5ce, #a8e6ff,#f3def2);
    position: relative;
    overflow: hidden;
}
.productTitle{
    color:rgb(30, 81, 139);
    font-size: 100px;
    font-weight: 900;
}
.productPrice{
    color:rgb(168, 179, 69);
    font-size: 200px;
    text-align: center;
    padding:30px;
}
.productImg{
    width:49%;
    margin-top:10px;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0%;
    width: 50%;
    padding: 50px;  
}
.colors,
.sizes {
  display: flex;
  margin: 50px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  margin-top:40px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
    border: 3px solid rgb(0, 0, 0);
    width:20%;
    float: right;
    padding: 10px 20px;
    background-color: rgb(4, 1, 148);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-right: 100px;
  }
  .productButton:hover {
    background-color: white;
    color: black;
  }

  .payment{
    display: none;
    width: 500px;
    height: 525px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    flex-direction: column;
    -webkit-box-shadow: 0px -2px 9px 8px rgba(0,0,0,0.62); 
box-shadow: 0px -2px 9px 8px rgba(0,0,0,0.62);
  }

  .payTitle{
      font-size: 25px;
      color:#194948;
  }

  label{
    font-size: 15px;
    font-weight: 600;
    cursor:pointer;
    margin-top: 10px;
  }

  .payInput{
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid black;
  }

  .payInput::placeholder{
      color: lightgrey;
  }
  .cardIcons{
    display: flex;
  }
  .cardIcon{
    margin-right: 3 0px;
    cursor:pointer;
  }
  .cardInfo{
    display: flex;
    justify-content: space-between;
  }
  .sm{
      width: 50%;
  }
  .payButton{
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40;
    left: 0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #27c46e;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: grey;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;  
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}
.close:hover{
    background-color: red;
}

  .gallery {
    padding: 60px;
    display: flex;
  }
  
  .galleryTitle{
    color: rgb(160, 23, 160);
    text-shadow: 3px 3px #30b1f1;
  }
  
  .galleryItem {
    flex: 1;
    padding: 30px;
  }
  
  .galleryImg {
    width: 100%;
  }
  
  .newSeason {
    display: flex;
  }
  
  .nsItem {
    display: flex;
    flex: 1;
    background-color: rgb(3, 1, 44);
    color: rgb(245, 195, 239);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 100%;
  }
  
  .nsTitle {
    font-size: 50px;
  }
  
  .nsButton {
    padding: 2  0px;
    font-weight: 800;
    cursor: pointer;
    color: rgb(53, 6, 47);
    border: 3px solid rgb(252, 201, 252);
  }

  footer {
    display: flex;
  }
  
  .footerLeft {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 20px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    display: flex;
    background: url(https://www.unfe.org/wp-content/uploads/2017/03/Footer-Background-1024x281.jpg) no-repeat;
    background-size: 500px 250px;
    background-position: center;
    flex: 1;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  } 
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }

  @media only screen and (max-width: 1199px) {
    .slider{
      clip-path: none;
    }    
    .sliderPrice{
      display: flex;
      font-size: 5rem;
      padding: 10px; 
      margin: 0;
      top: 0;  
    }
    .sliderTitle{
      top: 0;
      font-size: 350%;
      padding: 10px;
      right: 0;   
    }
    .sliderImg{
      width: 90%;
      margin-left: 10px;
    }
    .slideBg{
      width: 90%;
      height: 90%;
    }
    .buyButton{
      display: flex;
      bottom: 3px;
      right: 3px;
      width: fit-content;
      text-align: center;
      align-items: center;
    }

    .product{
      clip-path: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }
    .productButton{
      margin-bottom: 20px;
    }

    .productImg{
      width: 50%;
    }
    .productDetails{
      overflow: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      text-align: center;
      align-items: center;
      top: 0;
    }
    .productTitle{
      font-size: 100px;
      margin: 0;
    }
    
    .productPrice{
      font-size: 100px;
    }
    .colors, .sizes{
      margin: 5px;
    }
    
    .productButton{
      text-align: center;
      margin-right: 0;
      margin-top: 30px;
    }


    .gallery{
      display: flex;
      flex-direction: column;
    }
    .galleryItem:nth-child(1) img, .galleryItem:nth-child(3) img{
      display: none;
    }

    .galleryItem:nth-child(2) img{
      width: 100%;
      align-items: center;
    }
    .galleryItem{
      padding: 0;
    }

    .galleryTitle{
      padding: 0;
      margin: 5px;
      text-align: center;
      text-shadow: none;
    }
    
    .nsButton{
      margin-bottom: 5px;
      border-radius: 4px;
    }
    
}

  @media only screen and (max-width: 600px) {
    nav{
      padding: 20px;
    }

    .search{
      display: none;
    }

    .navBottom{
      flex-wrap: wrap;
    }

    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 1.5em;
    }
  
    .slider{
      clip-path: none;
    }

    .sliderImg{
      width: 90%;
      padding-left: 100px;
    }
    
    .slideBg{
      width: 90%;
      height: 90%;
    }

    .sliderTitle{
      display: none;
    }

    .sliderPrice{
      position: absolute;
      top: unset;
        bottom: 0;
      font-size: 60px;
    }
    
    .buyButton{
      display: flex;
      top: 0;
      left: 5px;  
      border: 2px solid rgb(71, 73, 233);
      width: 30%;
      height: fit-content;  
      font-size: 1.5rem;
    }

    .features{
      flex-direction: column;
    }

    .product{
      clip-path: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .productDetails{
      overflow: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      text-align: center;
      align-items: center;
      top: 0;
    }
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
    
    .productPrice{
      font-size: 50px;
    }
    .colors, .sizes{
      margin: 5px;
    }
    
    .productButton{
      text-align: center;
      margin-right: 0;
      margin-top: 30px;
    }

    .gallery{
      display: none;
    }

    .newSeason{
      flex-direction: column;
    }

    .nsItem:nth-child(2){
      padding: 50px;
    }

    footer{
      flex-direction: column;
      align-items: center;
    }

    .footerLeft{
      padding: 20px;
      width: 90%;
    }
    
    .payment{
      width: 90%; 
      padding: 20px;
    }

    
    
  }